[submodule "lib/RF24"]
	path = lib/RF24
	url = https://github.com/nRF24/RF24.git
[submodule "lib/Arduino-PID-Library"]
	path = lib/Arduino-PID-Library
	url = https://github.com/br3ttb/Arduino-PID-Library.git
[submodule "lib/Embedded-PID"]
	path = lib/Embedded-PID
	url = https://github.com/austinmdillow/Embedded-PID.git
[submodule "lib/SD"]
	path = lib/SD
	url = https://github.com/arduino-libraries/SD.git
[submodule "lib/Adafruit_AHRS"]
	path = lib/Adafruit_AHRS
	url = https://github.com/adafruit/Adafruit_AHRS.git
[submodule "lib/Adafruit_GPS"]
	path = lib/Adafruit_GPS
	url = https://github.com/adafruit/Adafruit_GPS.git
